<h1>Add Customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="createCustomer(customerForm.value)">
    <div>
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name">
        @if (customerForm.get('name')?.invalid && customerForm.get('name')?.touched) { 

            <div>
                <p>Nombre es requerido.</p>
            </div>
        }
        
    </div>

    <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email">
    </div>

    <div>
    <label for="number">Número:</label>
    <input id="number" formControlName="number">
    </div>

    <div>
    <label for="location">Ubicación:</label>
    <input id="location" formControlName="location">
    </div>

    <div>
    <label for="img">Imagen URL:</label>
    <input id="img" formControlName="img">
    </div>

    <button type="submit" [disabled]="customerForm.invalid">Añadir Cliente</button>
</form>
