<div>
<h1>Add Customer</h1>
<form [formGroup]="customerForm" (ngSubmit)="createCustomer(customerForm.value)" class="formulario">
  <mat-form-field>
    <mat-label for="name">Nombre</mat-label>
    <input matInput id="name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput id="email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="number">Número</mat-label>
    <input matInput id="number" formControlName="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="location">Ubicación</mat-label>
    <input matInput id="location" formControlName="location">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="img">Imagen URL</mat-label>
    <input matInput id="img" formControlName="img">
  </mat-form-field>

  <button mat-raised-button type="submit">Añadir Cliente</button>
</form>
</div>