form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h2 {
  font-family: "saturn 3";
  color: red;
}

p {
  font-family: "saturn 3";
  color: #fff;
}

a {
  color: #ffa200;
  text-decoration: none;
}
