* {
  color: white;
}

.background {
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  background-color: #ffffff4b;
  padding: 20px;
  width: 80%;
  flex-direction: column;
  gap: 30px;
}

.text {
  width: 950px;
}

strong {
  font-family: "saturn 3";
  font-size: 20px;
  color: #f4ada7;
  -webkit-text-stroke: 2px #24385c;
}

p {
  font-size: 20px;
}

h1,
h2 {
  font-family: "saturn 3";
  font-size: 20px;
  color: #f4ada7;
  -webkit-text-stroke: 2px #24385c;
}

img {
  width: 80%;
}
