*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}


header{
  display: flex;
  background: rgb(52,52,52);
  background: linear-gradient(180deg, rgba(52,52,52,1) 0%, rgba(201,190,190,1) 49%, rgba(255,255,255,1) 60%, rgba(182,182,182,1) 100%);
}

@font-face{
  font-family: 'saturn3';
    src: url('../../../assets/saturn_3/Saturn\ 3.otf') format('woff2'),
         url('../../../assets/saturn_3/Saturn\ 3.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

p{
  font-family: "saturn3";
  margin: 0;
  font-size:40px ;
  color: #f5aca5;
  text-align: center;
}

.userSection{
  display: flex;

}

.title{
  width: 50%;

}

.userImage{
  width: 80%;
}

figure{
  display: flex;
  align-items: center;
  margin: 0;
  width: 200px;
  height: 200px;
}
